<table>
  <tbody>
    <% 3.times do |row| %>
      <tr>
        <% 3.times do |col| %>
          <td data-js="hole<%= row %><%= col %>" class="hole">
            <img class="circle" src="/assets/hole.png" />
            <span class="bread"></span>
            <span class="bread-mold hide"></span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>