<table>
  <tbody>
    <% 3.times do |row| %>
      <tr>
        <% 3.times do |col| %>
          <td class="">
            <img src="/assets/hole.png" />
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>