/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html             {  background-color: #F7DD78; text-align: center; font-family: Arial, Helvetica, sans-serif;}
a                {  display: inline-block; padding: 30px 50px; color: white; background-color: #4CAE4C; font-size: 35px; text-decoration: none; margin-bottom: 35px; }
table            {  width: 100%; border-collapse: collapse; }
tbody>tr>td      {  width: 300px; }
tbody>tr>td.bread      {  background-image: url("bread.png"); background-size: 150px 150px; background-repeat: no-repeat; }
tbody>tr>td.bread-mold      {  background-image: url("bread-mold.png"); background-size: 50px 50px; background-repeat: no-repeat; }
tbody>tr>td>img  {  max-width: 100%; margin-top: 50px;  }
